# Défi IA 2023 
## Bedbugs - INSA 5 MA
## Lila, Léa & Flavie

# Code de requêtes

In [1]:
# librairies
# --------------------------------------------
from datetime import datetime
import pandas
import numpy as np
import json
import csv
import time
import requests
import pandas as pd 
import urllib.parse

In [2]:
# connexions à l'api
# --------------------------------------------
domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

user_id = 'f80b400f-3d29-43f0-8049-214a756ff0b3' # notre user ID reçu par mail

### Création d'un dataset des requêtes possibles (hors variation des jours (date))
- Stockage dans un fichier csv : allrequest.csv

<font color = 'red'> Il faut rajouter la ville 'belgian' dans la lst2 et recontruire notre dataframe `allresquest` </font>

In [3]:
"""lst1=[0,1]   
lst2=['austrian', 'bulgarian', 'croatian', 'cypriot', 'czech', 'danish', 'dutch', 'estonian', 'finnish', 'french', 'german', 'greek', 'hungarian', 'irish', 'italian', 'latvian', 'lithuanian', 'luxembourgish', 'maltese', 'polish', 'portuguese', 'romanian', 'slovakian', 'slovene', 'spanish','swedish']
lst3=['amsterdam', 'copenhagen', 'madrid','paris', 'rome', 'sofia', 'valletta', 'vienna', 'vilnius']
print(len(lst2))
lst = [[[j,k,l] for j in lst1] for k in lst2 for l in lst3]

A=np.array(lst)
A=np.reshape(A, (-1,3))
all_requests=pandas.DataFrame(A, columns=["mobile", "language", "city"])
all_requests
all_requests.to_csv('allrequest.csv', index=False)
"""

'lst1=[0,1]   \nlst2=[\'austrian\', \'bulgarian\', \'croatian\', \'cypriot\', \'czech\', \'danish\', \'dutch\', \'estonian\', \'finnish\', \'french\', \'german\', \'greek\', \'hungarian\', \'irish\', \'italian\', \'latvian\', \'lithuanian\', \'luxembourgish\', \'maltese\', \'polish\', \'portuguese\', \'romanian\', \'slovakian\', \'slovene\', \'spanish\',\'swedish\']\nlst3=[\'amsterdam\', \'copenhagen\', \'madrid\',\'paris\', \'rome\', \'sofia\', \'valletta\', \'vienna\', \'vilnius\']\nprint(len(lst2))\nlst = [[[j,k,l] for j in lst1] for k in lst2 for l in lst3]\n\nA=np.array(lst)\nA=np.reshape(A, (-1,3))\nall_requests=pandas.DataFrame(A, columns=["mobile", "language", "city"])\nall_requests\nall_requests.to_csv(\'allrequest.csv\', index=False)\n'

In [4]:
#à faire lors de la première utilisation 
#1) lecture du csv 
df = pandas.read_csv('allrequest.csv', header = 0)
df

     mobile  language        city
0         0  austrian   amsterdam
1         1  austrian   amsterdam
2         0  austrian  copenhagen
3         1  austrian  copenhagen
4         0  austrian      madrid
..      ...       ...         ...
463       1   swedish    valletta
464       0   swedish      vienna
465       1   swedish      vienna
466       0   swedish     vilnius
467       1   swedish     vilnius

[468 rows x 3 columns]

### Création du fichier de nos requêtes effectuées (pas leur résultats)
- stockage de la liste des requêtes dans un fichier all_our_requests_done.csv

In [5]:
df

     mobile  language        city
0         0  austrian   amsterdam
1         1  austrian   amsterdam
2         0  austrian  copenhagen
3         1  austrian  copenhagen
4         0  austrian      madrid
..      ...       ...         ...
463       1   swedish    valletta
464       0   swedish      vienna
465       1   swedish      vienna
466       0   swedish     vilnius
467       1   swedish     vilnius

[468 rows x 3 columns]

In [6]:
### attention si recompilation : le fichier existant sera écrasé !! 
"""all_our_requests=pandas.DataFrame(columns=["avatar_id", "mobile", "language", "city", "date", "id_request"])
all_our_requests.to_csv('all_our_requests_done.csv', index=False) """

'all_our_requests=pandas.DataFrame(columns=["avatar_id", "mobile", "language", "city", "date", "id_request"])\nall_our_requests.to_csv(\'all_our_requests_done.csv\', index=False) '

### Création du fichier des résultats des requêtes effectuées
- stockage de la liste des requêtes dans un fichier pricing_requests_done.csv

In [7]:
#création du fichier des résultats des requêtes
### attention si recompilation : le fichier existant sera écrasé !! 
"""pricing_requests=pandas.DataFrame(columns=["hotel_id", "price", "stock", "city", "date", "language", "mobile", "avatar_id", "request_number"])"""
"""pricing_requests.to_csv('pricing_requests_done.csv', index=False)"""

"pricing_requests.to_csv('pricing_requests_done.csv', index=False)"

### Bloc de requête à l'api et stockage des données avec les précédentes

<font color = "blue"> **Questions (Lila):** 
- <font color = "blue"> Dans la commande `chosen_idx = np.random.choice(idx_available, replace = False, size = nb_request)`, on tire aléatoirement sans remise len(df) = 468 éléments parmi une liste de taille 468: [0,1,...,467] ce qui revient exactement à choisir la liste [0,1,...,467] directement (sans avoir besoin du random.choice). Est-ce voulu ?

- <font color = "blue"> `our_requests = pandas.read_csv('all_our_requests_done.csv', header = 0)` au début, ce tableau est vide non ? Pour la première utilisation, il s'agit de `allrequest.csv` ? J'imagine qu'à l'origine il devait y avoir marqué `allrequest.csv` et non pas `all_our_requests_done.csv`.
    
- <font color = "blue"> On a `days= np.random.choice(selected_days, number_days, replace=False)` et `days= np.random.choice(range(0,45), number_days, replace=False)` à la suite donc seule la 2e version est prise en compte. 
    
- <font color = "blue"> On crée un "avatar_name" avec la date du jour mais après je n'ai pas l'impression qu'on stocke cette info quelque part. Une fois le tableau constitué, on ne peut pas retrouver cette info. 
    
- <font color = "blue"> l'Id de a request est i dans la ligne `add_to_our_requests = ...` mais du coup, si on fait tourner plusieurs fois le même code, on n'aura pas des requêtes avec le même id ? comment on va faire pour les différencier ? Il ne faudrait pas mettre `request_num` à la place de `i` ?

In [11]:
#variables 
number_days = 1 # nombre de jour pour lesquels un utilisateur va faire la même requête

#choix du ou des indexes dans la table des requêtes :
idx_available = range(0,len(df)) # len(df) = 468
#nombre de requête
nb_request = len(df) # = 468
#tirage sans remise de "nb_request" élements dans la liste "idx_available = [0,1,...,len(df)]"
chosen_idx = np.random.choice(idx_available, replace = False, size = nb_request)

#chargement de toutes les requêtes possibles et de nos données existantes
our_requests = pandas.read_csv('all_our_requests_done.csv', header = 0)
pricing_requests = pandas.read_csv('pricing_requests_done.csv', header = 0)

#variable qui sert à numéroter nos requêtes (utile si plusieurs requêtes sont faites plusieurs fois)
request_num = our_requests.shape[0]

for i in chosen_idx: #le chosen index correspond à une requête dans our_requests #### ou plutôt allrequest.csv ?
    print(i)
    date = datetime.today().strftime('%Y-%m-%d_%H:%M:%S')
    
    selected_daysA = [0,1,2,3,4,5,6,7,8]
    selected_daysB = [13,14,15,16,17,18,19,20,21,22,23]
    selected_daysC = [32,33,24,35,36,37,38,39,40]
    #tirage sans remise de "number_days" éléments dans la liste "selected_days"
    days= np.random.choice(selected_daysC, number_days, replace=False) 
    #days= np.random.choice(range(0,45), number_days, replace=False)
    j=0
    
     
    #cas 1 avatar fait la même requête sur number_days différents jours
    #création avatar
    time.sleep(1) #pour ne pas avoir 2 avatar de noms identiques
    name = date + '_avatar'     
    #à créer l'avatar 
    a = requests.post(path(f'avatars/{user_id}/{name}'))
    
    for iter_days in (sorted(days, reverse=True)):
        
        #paramètres requête de our_requests #### de df=allrequest plutôt ? 
        city=str(df.iloc[i,:]["city"])
        mobile=df.iloc[i,:]["mobile"]
        language=str(df.iloc[i,:]["language"])
        
        #paramètres requetes
        params = {
            "avatar_name": name,
            "language": language,
            "city": city,
            "date": iter_days,
            "mobile": mobile,
        }
        
        print(city)
        print(language)
        
        request_num +=1
        #requête à l'api
        r1 = requests.get(path(f"pricing/{user_id}"), params=params)
        #mise en forme 
        array_to_add = pd.DataFrame(r1.json()['prices']).assign(**r1.json()['request'])
        array_to_add = array_to_add.assign(request_number=request_num)
       
        
        pricing_requests = pd.concat([pricing_requests, array_to_add])
        
        add_to_our_requests = pandas.DataFrame([[r1.json()['request']['avatar_id'], mobile, language, city, iter_days,  i]], 
                                       columns=["avatar_id", "mobile", "language", "city", "date", "id_request"])
        our_requests = pandas.concat([our_requests, add_to_our_requests], ignore_index=True)
        
#enregistrement
pricing_requests.to_csv('pricing_requests_done.csv', index=False)
our_requests.to_csv('all_our_requests_done.csv', index=False)

390
valletta
romanian
167
madrid
french
154
sofia
finnish
426
valletta
slovene
348
paris
polish
389
sofia
romanian
344
copenhagen
polish
422
rome
slovene
192
valletta
german
377
vilnius
portuguese
392
vienna
romanian
386
rome
romanian
54
amsterdam
cypriot
86
vienna
czech
399
copenhagen
slovakian
302
vienna
lithuanian
0
amsterdam
austrian
235
amsterdam
irish
91
amsterdam
danish
403
paris
slovakian
243
rome
irish
165
copenhagen
french
200
copenhagen
greek
31
valletta
bulgarian
202
madrid
greek
67
valletta
cypriot
81
rome
czech
424
sofia
slovene
51
vienna
croatian
130
madrid
estonian
104
vienna
danish
397
amsterdam
slovakian
177
vienna
french
423
rome
slovene
139
valletta
estonian
400
madrid
slovakian
296
rome
lithuanian
385
paris
romanian
332
rome
maltese
12
valletta
austrian
437
madrid
spanish
351
rome
polish
252
amsterdam
italian
189
rome
german
25
paris
bulgarian
308
copenhagen
luxembourgish
347
madrid
polish
238
madrid
irish
346
madrid
polish
408
valletta
slovakian
152
rome
finnish
394
vilnius
romanian
33
vienna
bulgarian
376
vilnius
portuguese
275
madrid
latvian
35
vilnius
bulgarian
440
rome
spanish
92
copenhagen
danish
110
copenhagen
dutch
193
valletta
german
90
amsterdam
danish
215
vilnius
greek
435
copenhagen
spanish
63
rome
cypriot
27
rome
bulgarian
153
rome
finnish
373
valletta
portuguese
185
madrid
german
157
valletta
finnish
398
copenhagen
slovakian
40
madrid
croatian
466
vilnius
swedish
84
valletta
czech
240
paris
irish
368
rome
portuguese
341
vilnius
maltese
239
madrid
irish
48
valletta
croatian
407
sofia
slovakian
388
sofia
romanian
303
vienna
lithuanian
280
sofia
latvian
50
vienna
croatian
301
valletta
lithuanian
467
vilnius
swedish
315
rome
luxembourgish
186
paris
german
432
amsterdam
spanish
412
vilnius
slovakian
457
paris
swedish
205
paris
greek
229
valletta
hungarian
455
madrid
swedish
421
paris
slovene
379
amsterdam
romanian
237
copenhagen
irish
265
valletta
italian
172
sofia
french
227
sofia
hungarian
121
valletta
dutch
213
vienna
greek
310
madrid
luxembourgish
459
rome
swedish
101
sofia
danish
372
valletta
portuguese
123
vienna
dutch
160
vilnius
finnish
111
copenhagen
dutch
320
vienna
luxembourgish
396
amsterdam
slovakian
436
madrid
spanish
112
madrid
dutch
159
vienna
finnish
74
copenhagen
czech
405
rome
slovakian
39
copenhagen
croatian
170
rome
french
6
paris
austrian
103
valletta
danish
57
copenhagen
cypriot
125
vilnius
dutch
184
madrid
german
236
copenhagen
irish
131
madrid
estonian
164
copenhagen
french
7
paris
austrian
374
vienna
portuguese
287
vilnius
latvian
21
copenhagen
bulgarian
257
madrid
italian
113
madrid
dutch
342
amsterdam
polish
226
sofia
hungarian
322
vilnius
luxembourgish
331
paris
maltese
11
sofia
austrian
83
sofia
czech
128
copenhagen
estonian
267
vienna
italian
294
paris
lithuanian
298
sofia
lithuanian
42
paris
croatian
277
paris
latvian
281
sofia
latvian
383
madrid
romanian
132
paris
estonian
439
paris
spanish
88
vilnius
czech
203
madrid
greek
206
rome
greek
438
paris
spanish
413
vilnius
slovakian
409
valletta
slovakian
135
rome
estonian
89
vilnius
czech
330
paris
maltese
350
rome
polish
366
paris
portuguese
173
sofia
french
29
sofia
bulgarian
449
vilnius
spanish
214
vilnius
greek
222
paris
hungarian
65
sofia
cypriot
70
vilnius
cypriot
335
sofia
maltese
19
amsterdam
bulgarian
156
valletta
finnish
411
vienna
slovakian
464
vienna
swedish
304
vilnius
lithuanian
1
amsterdam
austrian
158
vienna
finnish
263
sofia
italian
349
paris
polish
352
sofia
polish
300
valletta
lithuanian
356
vienna
polish
148
madrid
finnish
187
paris
german
98
rome
danish
337
valletta
maltese
75
copenhagen
czech
38
copenhagen
croatian
282
valletta
latvian
253
amsterdam
italian
382
madrid
romanian
353
sofia
polish
250
vilnius
irish
441
rome
spanish
22
madrid
bulgarian
20
copenhagen
bulgarian
425
sofia
slovene
194
vienna
german
410
vienna
slovakian
380
copenhagen
romanian
93
copenhagen
danish
260
rome
italian
224
rome
hungarian
230
vienna
hungarian
391
valletta
romanian
77
madrid
czech
406
sofia
slovakian
264
valletta
italian
162
amsterdam
french
456
paris
swedish
201
copenhagen
greek
246
valletta
irish
68
vienna
cypriot
168
paris
french
333
rome
maltese
69
vienna
cypriot
283
valletta
latvian
292
madrid
lithuanian
234
amsterdam
irish
45
rome
croatian
34
vilnius
bulgarian
446
vienna
spanish
270
amsterdam
latvian
311
madrid
luxembourgish
307
amsterdam
luxembourgish
116
rome
dutch
5
madrid
austrian
56
copenhagen
cypriot
259
paris
italian
198
amsterdam
greek
100
sofia
danish
321
vienna
luxembourgish
127
amsterdam
estonian
46
sofia
croatian
317
sofia
luxembourgish
254
copenhagen
italian
458
rome
swedish
211
valletta
greek
462
valletta
swedish
182
copenhagen
german
117
rome
dutch
450
amsterdam
swedish
381
copenhagen
romanian
345
copenhagen
polish
371
sofia
portuguese
109
amsterdam
dutch
442
sofia
spanish
445
valletta
spanish
122
vienna
dutch
166
madrid
french
290
copenhagen
lithuanian
142
vilnius
estonian
395
vilnius
romanian
37
amsterdam
croatian
465
vienna
swedish
129
copenhagen
estonian
448
vilnius
spanish
13
valletta
austrian
140
vienna
estonian
453
copenhagen
swedish
369
rome
portuguese
119
sofia
dutch
190
sofia
german
105
vienna
danish
150
paris
finnish
415
amsterdam
slovene
266
vienna
italian
78
paris
czech
241
paris
irish
163
amsterdam
french
209
sofia
greek
242
rome
irish
427
valletta
slovene
15
vienna
austrian
419
madrid
slovene
219
copenhagen
hungarian
404
rome
slovakian
18
amsterdam
bulgarian
55
amsterdam
cypriot
188
rome
german
216
amsterdam
hungarian
327
copenhagen
maltese
251
vilnius
irish
318
valletta
luxembourgish
8
rome
austrian
355
valletta
polish
295
paris
lithuanian
244
sofia
irish
233
vilnius
hungarian
223
paris
hungarian
417
copenhagen
slovene
76
madrid
czech
357
vienna
polish
9
rome
austrian
247
valletta
irish
36
amsterdam
croatian
114
paris
dutch
26
rome
bulgarian
361
amsterdam
portuguese
151
paris
finnish
137
sofia
estonian
463
valletta
swedish
175
valletta
french
80
rome
czech
314
rome
luxembourgish
95
madrid
danish
107
vilnius
danish
23
madrid
bulgarian
146
copenhagen
finnish
309
copenhagen
luxembourgish
272
copenhagen
latvian
225
rome
hungarian
329
madrid
maltese
262
sofia
italian
73
amsterdam
czech
434
copenhagen
spanish
47
sofia
croatian
2
copenhagen
austrian
359
vilnius
polish
99
rome
danish
62
rome
cypriot
79
paris
czech
199
amsterdam
greek
312
paris
luxembourgish
360
amsterdam
portuguese
279
rome
latvian
196
vilnius
german
273
copenhagen
latvian
106
vilnius
danish
115
paris
dutch
14
vienna
austrian
108
amsterdam
dutch
124
vilnius
dutch
179
vilnius
french
71
vilnius
cypriot
204
paris
greek
258
paris
italian
147
copenhagen
finnish
461
sofia
swedish
444
valletta
spanish
274
madrid
latvian
28
sofia
bulgarian
293
madrid
lithuanian
370
sofia
portuguese
255
copenhagen
italian
44
rome
croatian
420
paris
slovene
120
valletta
dutch
354
valletta
polish
61
paris
cypriot
171
rome
french
431
vilnius
slovene
138
valletta
estonian
249
vienna
irish
218
copenhagen
hungarian
94
madrid
danish
362
copenhagen
portuguese
326
copenhagen
maltese
319
valletta
luxembourgish
161
vilnius
finnish
195
vienna
german
16
vilnius
austrian
245
sofia
irish
72
amsterdam
czech
118
sofia
dutch
141
vienna
estonian
305
vilnius
lithuanian
256
madrid
italian
221
madrid
hungarian
60
paris
cypriot
41
madrid
croatian
169
paris
french
136
sofia
estonian
176
vienna
french
126
amsterdam
estonian
17
vilnius
austrian
286
vilnius
latvian
339
vienna
maltese
338
vienna
maltese
393
vienna
romanian
402
paris
slovakian
276
paris
latvian
313
paris
luxembourgish
197
vilnius
german
231
vienna
hungarian
285
vienna
latvian
181
amsterdam
german
261
rome
italian
144
amsterdam
finnish
340
vilnius
maltese
328
madrid
maltese
443
sofia
spanish
268
vilnius
italian
178
vilnius
french
416
copenhagen
slovene
271
amsterdam
latvian
363
copenhagen
portuguese
401
madrid
slovakian
414
amsterdam
slovene
288
amsterdam
lithuanian
180
amsterdam
german
232
vilnius
hungarian
145
amsterdam
finnish
155
sofia
finnish
336
valletta
maltese
358
vilnius
polish
278
rome
latvian
30
valletta
bulgarian
58
madrid
cypriot
49
valletta
croatian
4
madrid
austrian
174
valletta
french
428
vienna
slovene
87
vienna
czech
291
copenhagen
lithuanian
284
vienna
latvian
143
vilnius
estonian
289
amsterdam
lithuanian

378
amsterdam
romanian
59
madrid
cypriot
365
madrid
portuguese
460
sofia
swedish
269
vilnius
italian
102
valletta
danish
3
copenhagen
austrian
220
madrid
hungarian
10
sofia
austrian
217
amsterdam
hungarian
429
vienna
slovene
367
paris
portuguese
43
paris
croatian
334
sofia
maltese
149
madrid
finnish
324
amsterdam
maltese
32
vienna
bulgarian
191
sofia
german
387
rome
romanian
52
vilnius
croatian
375
vienna
portuguese
133
paris
estonian
299
sofia
lithuanian
183
copenhagen
german
418
madrid
slovene
384
paris
romanian
430
vilnius
slovene
66
valletta
cypriot
53
vilnius
croatian
316
sofia
luxembourgish
364
madrid
portuguese
454
madrid
swedish
306
amsterdam
luxembourgish
97
paris
danish
212
vienna
greek
248
vienna
irish
208
sofia
greek
451
amsterdam
swedish
96
paris
danish
325
amsterdam
maltese
452
copenhagen
swedish
228
valletta
hungarian
323
vilnius
luxembourgish
82
sofia
czech
24
paris
bulgarian
433
amsterdam
spanish
85
valletta
czech
64
sofia
cypriot
134
rome
estonian
447
vienna
spanish
297
rome
lithuanian
343
amsterdam
polish
207
rome
greek
210
valletta
greek

PermissionError: [Errno 13] Permission denied: 'all_our_requests_done.csv'

In [12]:
'''#pour quand on s'est raté et que l'enregistrement rate
pricing_requests.to_csv('pricing_requests_done.csv', index=False)
our_requests.to_csv('all_our_requests_done.csv', index=False)'''

## Stockage des paires noms_utilisateur, identifiants (à mettre à jour souvent en exécutant cette cellule)
Il suffira d'aller dans cette table pour à partir de l'identifiant id retrouver le nom de l'utilisateur

In [10]:
'''r = requests.get(path(f"avatars/{user_id}"))
tab=[]
for avatar in r.json():
    tab.append([avatar['id'], avatar['name']])

df = pd.DataFrame(tab)
df.columns = ['avatar_Id', 'avatar_Name']
df.to_csv('tab_id_name_of_users.csv', index=False)'''

'r = requests.get(path(f"avatars/{user_id}"))\ntab=[]\nfor avatar in r.json():\n    tab.append([avatar[\'id\'], avatar[\'name\']])\n\ndf = pd.DataFrame(tab)\ndf.columns = [\'avatar_Id\', \'avatar_Name\']\ndf.to_csv(\'tab_id_name_of_users.csv\', index=False)'